@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Inter&display=swap');


* {
  box-sizing: border-box;
}

#wrapper {
  margin: 0 auto;
  background: url(../images/foodwood4.jpg) fixed;
  background-size: cover;
  background-position: right;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

header {
  color: #f4f2ed;
  background: rgba(0, 0, 0, .6);
  padding: 2rem 0 1rem 0;
}

.site-nav a {
  color: #f4f2ed;
  text-decoration: none;
  font-size: 1rem;
}

.site-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: 'Handlee', cursive;
}

h3 {
  text-align: left;
  padding-left: 1rem;
}

h4,
.guidance,
.tag-line {
  display: none;
}

/* set the layout of the main container */
#container {
  background-color: #eef5db;
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
  margin: auto;
  max-width: 1024px;
  padding: 1rem;
}

.tag-line {
  grid-column: 1 / span 6;
  padding: .5rem;
  background-color: #e2fdff;
  text-align: center;
}

.lesson-container {
  display: grid;
  grid-gap: .5rem;
  grid-template-rows: repeat(2, 1fr);
  grid-column: 1 / span 2;
}

.video-container {
  display: grid;
  grid-gap: .5rem;
  grid-template-rows: repeat(2, 1fr);
  grid-column: 3 / span 4;
}

.lesson-title {
  grid-column: 1 / span 6;
  display: flex;
  flex-direction: column;
}

.guidance {
  font-size: .8rem;
  text-align: left;
  padding: 0 .5rem 0 1rem;
}

.lesson-notes {
  grid-row: 1 / span 1;
  border: 1px solid black;
  font-size: .8rem;
  text-align: left;
}

.lesson-url {
  grid-row: 2 / span 1;
  border: 1px solid black;
  font-size: .85rem;
  text-align: left;
}

.vid-window {
  grid-row: 1/span 1;
  border: 1px solid black;
  padding: 1rem 0 0 0;
}

.web-links {
  grid-row: 2 / span 1;
  border: 1px solid black;
  height: 45vh;
}

#vid {
  width: 280px;
  height: 240px;
  /* 352px 288px */
}

#controls {
  padding: 1rem;
}

.transcript-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

iframe {
  width: 100%;
  height: 45vh;
}

#transcript-container {
  background-color: #eef5db;
  margin: auto;
  max-width: 1024px;
  padding: 3rem;
}

.transcript-main {
  background-color: rgba(172, 201, 212, 0.7);
  text-align: left;
  padding: 1rem 2rem;
}

.seek:hover,
.ctl_btn:hover {
  background-color: #a8dadc;
  font-weight: bold;
}

/* highlight animation on learning content during the video */
.hilight {
  transform: scale(1.1);
  color: #fff;
  background: rgba(0, 0, 0, .6);
  transition: all 1s ease-in-out;
}

@media screen and (min-width: 700px) {
  #vid {
    width: 500px;
    height: 280px;
  }

  .guidance {
    display: flex;
  }

  .tag-line {
    display: grid;
  }
}
