@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Inter&display=swap');

/*
dark #22223b
grey #4a4e69
taupe #9a8c98
tan #c9ada7
cream #f2e9e4
neutral #d6ccc2
peach highlight #e0afa0
*/


* {
    box-sizing: border-box;
  }

#wrapper {
    margin: 0 auto;
//    background-color: #333533;
    background: url(../images/foodwood4.jpg) fixed;
    background-size: cover;
    background-position: right;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

header {
    color: #f4f2ed;
  //  background-color:#22223b;
  background: rgba(0, 0, 0, .6);
// background: url(../images/veglineddark2.jpg) fixed;
// background-size: cover;
// background-position: top;
    padding: 2rem 0 1rem 0;
}
.site-nav a {
  color: #f4f2ed;
  text-decoration: none;
  font-size: 1rem;
}

.site-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
/*use a background image here and remove backgnd color from id wrapper 
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url(../images/sideborders.jpeg) fixed;
  background-size: cover;
  background-position: left;
  overflow-y: scroll;
} */


  h1,
  h2 {
      text-align:center;
      font-family: 'Handlee', cursive;
  }
  h3 {
    text-align: left;
    padding-left: 1rem;
  }

h4 {
  display: none;
}
 
#container {
//  background-color: #e2fdff;
  background-color: #eef5db;
    display:grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(6, 1fr);
    position: relative;
    margin:auto;
    max-width: 1024px;
  }
  .tag-line {
    grid-column: 1 / span 8;
    padding: 1rem;
  }
  .lesson-container {
    display: grid;
    grid-gap: .5rem;
    grid-template-rows: repeat(8, 1fr);
    grid-column: 1 / span 2;
  }
  .video-container {
    display: grid;
    grid-gap: .5rem;
    grid-template-rows: repeat(8, 1fr);
    grid-column: 3 / span 4;
  }
  .lesson-title {
    grid-row: 1;
  }
  .lesson-notes {
    grid-row: 2 / span 2;
    border:1px solid black;
    font-size: .85rem;
    text-align: left;
  }
  .lesson-url {
    grid-row: 4 / span 2;
    border:1px solid black;
    font-size: .85rem;
    text-align: left;
  }
  .vid-window {
    grid-row: 1/span 3;
    border:1px solid black;
 //   height: fit-content;
    padding: 3rem 0 0 0;
  }
  .web-links {
    grid-row: 4 / span 4;
    border:1px solid black;
    height: 45vh;
  }
  #vid {
    width:500px;
    height:280px;

 //     width:352px;
 //     height:288px;
  }
  #controls {
    padding: 1rem;
  }
  .transcript-link {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
  }
  iframe {
      width:100%;
      height:45vh;
  }
  
  /*
  #caption {
    position: absolute;
    width: 355px;
    left: 0;
    margin-top:-3.5em;
    min-height:3em;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: black 1px 1px 3px;
    padding-bottom: .5em;
    background-color:hsla(250,10%,50%,0.8)
  }
  
  #transcript span {
    display:table-row;
  }
  */
  
  /* show the timings in square brackets before each "subtitle" in the transcript. 
  #transcript [data-begin]:before {
    content: " [" attr(data-begin) "s-" attr(data-end)"s]   "; 
    font-size:80%; 
    display:table-cell; 
    padding-right:1em;
  }
  */
  
 .seek:hover,
 .ctl_btn:hover {
    background-color: #a8dadc;
    font-weight: bold;
  }
  /*
  .pop {
      position:absolute;
      top:0;
      left:0;
      background:rgba(99, 77, 55, .5);
      color:#fff;
      border:3px solid #ca6702;
      padding:15px;
      font-weight:bold;
      z-index:3;
    opacity: 1;
    transition: all .1s;
  }
  
  .hide {
    opacity:0;
    transition: all 3s;
  }
  */
  .hilight {
   transform: scale(1.1);
    color: #fff;
    background: rgba(0, 0, 0, .6);
    transition: all 1s ease-in-out;
  }
    /*
  @media screen and (max-width:600px) {
    #container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(6, 1fr);
    }
  
    .vid-window {
      grid-column: 2;
      grid-row: 3 / span 6;
    }
  }

  @media screen and (max-width:1000px) {
    #container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    .vid-window {
      grid-column: 2;
    }
    .web-links {
      grid-column: 3;
    }
  }
  */